.Feed{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.StoryBar{
    display: flex;
    height: 80px;
    max-width: calc(100% - 100px);
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 20px;
    position: absolute;
    left: 0;
}
.StoryBar::-webkit-scrollbar {
    display: none;
}
.Posts{
    position: absolute;
    top: 60px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-top: 20px;
    width: 100%;
    height: calc(92% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-top: 2px solid rgba(128, 128, 128, 0.2);
}
.Posts::-webkit-scrollbar {
    display: none;
}